{{#each beer}}
  <img src='{{this.image_url}}' alt='{{this.tagline}}' />
  <h1>{{this.name}}</h1>
  <h2>{{this.description}}</h2>
  <h3>{{this.tagline}}</h3>
  <h4>{{this.food_pairing}}</h4>
  <p>{{this.brewers_tips}}</p>

{{/each}}